[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mathml"]
	path = mathml
	url = https://github.com/mgondan/mathml
[submodule "rolog"]
	path = rolog
	url = https://github.com/mgondan/rolog
[submodule "rswipl"]
	path = rswipl
	url = https://github.com/mgondan/rswipl
